<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SkyDrive</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous" />
  </head>
  <body>
    <!-- Bagian Kiri -->
    <div class="d-flex flex-column pt-3 pt-5 ps-4 w-50 vh-100 z-0 position-absolute" style="background-image: url(../uploads/assets/background.png)">
      <!-- Userbox -->
      <div class="py-4 px-3 m-5 bg-primary-subtle rounded-4" style="width: 45%">
        <div class="d-flex flex-row">
          <img src="../uploads/assets/itemphoto/Red.png" class="rounded d-block me-3" alt="usericon" width="75" height="75" />
          <div class="">
            <h5 class="mb-0"><%= user.username %></h5>
            <p class="mb-0"><%= user.email %></p>
            <a class="link-underline link-offset-2" href="/auth/logout">Log out</a>
          </div>
        </div>
        <button type="editprofile" class="btn btn-primary mt-3 w-100">Edit Profile</button>
      </div>
      <!-- Nav -->
      <div class="ps-5">
        <ul class="nav nav-pills nav-fill flex-column">
          <li class="nav-item text-start mb-2">
            <a class="nav-link active" aria-current="page" href="#">Semua</a>
          </li>
          <li class="nav-item text-start mb-2">
            <a class="nav-link text-white" href="/file">File Saya</a>
          </li>
          <li class="nav-item text-start mb-2">
            <a class="nav-link text-white" href="/photo">Foto Saya</a>
          </li>
          <li class="nav-item text-start mb-2">
            <a class="nav-link text-white" href="/album">Album Saya</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Bagian Kanan -->
    <div class="d-flex flex-column z-1 position-absolute bg-white rounded-5 vh-100" style="left: 30%; width: 70%">
      <div class="d-flex justify-content-between p-5 border-bottom">
        <form class="d-flex w-75">
          <input class="form-control me-2" type="search" placeholder="Cari di File Saya" aria-label="Search" />
        </form>
        <img src="../uploads/assets/cloud.png" class="" alt="" width="50" />
      </div>
      <div class="d-flex flex-column p-5 vh-100">
        <div class="d-flex flex-row pb-5">
          <a href="/upload/photo" class="d-inline-flex btn btn-primary me-3">+ Unggah Foto</a>
          <a href="/upload/file" class="d-inline-flex btn btn-primary me-3">+ Unggah File</a>
          <a href="/album/create" class="d-inline-flex btn btn-primary me-3">+ Buat Album</a>
        </div>
        <div class="d-flex justify-content-between">
          <h4>Terbaru</h4>
          <div class="dropdown">
            <button class="btn dropdown-toggle-hide p-0 m-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
              </svg>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
        </div>
        <!--Item list-->
        <div class="bg-white">
          <ul class="d-flex flex-wrap list-unstyled">
            <% data.forEach(d => { %> <% if (d.path.includes("file")) { %>
            <li style="height: fit-content">
              <div class="card rounded-4 me-3 mb-3" style="width: 300px; height: 200px">
                <% if (d.path.includes(".pdf")) { %>
                <img src="<%= 'uploads/pdf.png' %>" class="object-fit-cover overflow-hidden rounded-4 rounded-bottom-0" alt="<%= d.name %>" />
                <% } else if (d.path.includes(".docx")) {%>
                <img src="<%= 'uploads/word.png' %>" class="object-fit-cover overflow-hidden rounded-4 rounded-bottom-0" alt="<%= d.name %>" />
                <% } %>
                <div class="d-flex justify-content-between bg-primary bg-opacity-10 rounded-bottom-4 p-2">
                  <p class="ms-3 mb-0"><%= d.name %></p>
                  <div class="dropdown">
                    <button class="btn dropdown-toggle-hide p-0 m-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <svg xmlns="http://www.w3.org/2000/svg" width="15 " height="15" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                        <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                      </svg>
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <form action="/file/delete" method="POST">
                          <input type="hidden" name="uploadId" value="<%= d.id %>" />
                          <!-- Ganti dengan ID yang sesuai -->
                          <button class="dropdown-item" type="submit">Delete</button>
                        </form>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <% } else { %>
            <li style="height: fit-content">
              <div class="card rounded-4 me-3 mb-3" style="width: 300px; height: 200px">
                <img src="<%= d.path %>" class="object-fit-cover overflow-hidden rounded-4 rounded-bottom-0" alt="<%= d.name %>" />
                <div class="d-flex justify-content-between bg-primary bg-opacity-10 rounded-bottom-4 p-2">
                  <p class="ms-3 mb-0"><%= d.name %></p>
                  <div class="dropdown">
                    <button class="btn dropdown-toggle-hide p-0 m-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <svg xmlns="http://www.w3.org/2000/svg" width="15 " height="15" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                        <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                      </svg>
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <form action="/photo/delete" method="POST">
                          <input type="hidden" name="uploadId" value="<%= d.id %>" />
                          <button class="dropdown-item" type="submit">Delete</button>
                        </form>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <% } %> <% }); %>
          </ul>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </body>
</html>
