<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
</head>
<body>
  <h1>Hello World!</h1>
  <a href="/upload/file">Upload File</a>
  <a href="/upload/photo">Upload Photo</a>
  <a href="/album/create">Create Album</a>
  <a href="/photo">Photo</a>
  <a href="/file">File</a>
  <a href="/album">Album</a>


  <p><%= user.username %></p>
  <p><%= user.email %></p>

  <ul>
    <% data.forEach(d => { %>
      <% if (d.path.includes("file")) { %>
        <li>
          <p><%= d.name %></p>
          <% if (d.path.includes(".pdf")) { %>
            <img src="<%= 'uploads/pdf.png' %>" alt="<%= d.name %>">
          <% } else if (d.path.includes(".docx")) {%>
            <img src="<%= 'uploads/word.png' %>" alt="<%= d.name %>">
          <% } %>
          <form action="/file/delete" method="POST">
              <input type="hidden" name="uploadId" value="<%= d.id %>"> <!-- Ganti dengan ID yang sesuai -->
              <button type="submit">Delete</button>
          </form>
        </li>
      <% } else { %>
        <li>
          <p><%= d.name %></p>
          <img src="<%= d.path %>" alt="<%= d.name %>">
          <form action="/photo/delete" method="POST">
              <input type="hidden" name="uploadId" value="<%= d.id %>">
              <button type="submit">Delete</button>
          </form>
        </li>
      <% } %>
      
    <% }); %>
  </ul>


</body>
</html>
